*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: #f1f1f1;
    position: relative;
    cursor: none;
}

h1{
    font-size: 12rem;
    mix-blend-mode: difference;
}

.cursor{
    position: absolute;
    width: 3.5rem;
    height: 3.5rem;
    background-color: #f1f1f1;
    border-radius: 50%;
    top: 0px;
    left: 0px;
    transform: translate(-50%, -50%);
}